<footer>
    <p><strong>---</strong></p>
    <p>Licença <a href="https://creativecommons.org/publicdomain/zero/1.0/deed.pt-br">Copyleft</a> – copiar e distribuir livremente</p>
    <p><a href="https://www.instagram.com/redelokal">Instagram</a> // <a href="https://chat.whatsapp.com/KvzALudTIwx381je84f12v">WhatsApp</a></p>
    <p>Esse site não rastreia você</p>
</footer>