/* CSS Reset by https://www.joshwcomeau.com/css/custom-css-reset/ */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
  }
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  
  img, picture, video, canvas, svg {
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  #root, #__next {
    isolation: isolate;
  }
/* CSS Reset by https://www.joshwcomeau.com/css/custom-css-reset/ */

:root {
  --sans-serif: system-ui, sans-serif;
  --serif: Georgia, serif;
  --color-font: #2a2a2a;
  --color-background: #f9f9f9;
  --color-link: #1D43B4;
  --color-link-alt: #191970;
  --color-title: #000000;
}

body {
  max-width: 720px;
  margin: 2rem auto;
  padding: 0 1rem;
  background: var(--color-background);
  color: var(--color-font);
  font-family: var(--sans-serif);
  font-size: 1rem;
}

a {
  color: var(--color-link);
}
  
a:hover, a:active {
  color: var(--color-link-alt);
}

header a {
  text-decoration: none;
  font-size: 2em;
  color: var(--color-title);
}

header a:hover, a:active {
  text-decoration: underline;
  color: var(--color-title);
}

nav {
  margin-bottom: 2em;
}

nav ul { 
 padding: 0;
}

nav li {
  display: inline;
  padding-right: 1em;
}

.content h1 {
  line-height: 1.1em;
  margin-bottom: 0.1em;
}

.gallery {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 5px;
  row-gap: 25px;
  text-align: center;
}

.gallery p {
  max-inline-size: 220px;
}

.gallery a {
  text-decoration: none;
}

/* https://datacadamia.com/web/css/grid/overflow */
.gallery >  * {
  min-width: 0px;
}

footer {
  margin-top: 2em;
  text-align: center;
}

@media only screen and (max-width: 570px) {
  .gallery {
    grid-template-columns: auto auto;
    gap: 15px;
  }
}