{{ define "main" }}

    <div class="gallery">
    {{ range (where .Site.RegularPages "Section" "zines") }}
        <a href="{{ .RelPermalink }}">

            {{ $title := .Title }}
            {{ $cover := .Resources.Get "cover.png" }}
            {{ with $cover }}
                {{ $coverResized := $cover.Resize "x300" }}
                {{ $coverLink := $cover.RelPermalink }}
                <figure>
                    <img src="{{ $coverLink }}" />
                    <figcaption>
                        <p>{{ $title }}</p>
                    </figcaption>
                </figure>
            {{ else }}
                {{ warnf "Error on page %q, missing cover file" $title }}
            {{ end }}
        </a>
    {{ end }}
    </div>

{{ end }}
