{{ define "main" }}

<div class="content">
    <h1>{{ .Title }}</h1>

    {{ with .Params.authors}}
    <p class="authors">// Por {{ . }}.</span>
    <br />
    <br />
    {{ end }}

    {{ .Content }}
    
    <br />

    {{ with .Params.source }}
    <p><i>Originalmente publicado em: {{ . }}.</i></p>
    {{ end }}

    <br />

    <h3>Baixe o zine aqui!</h3>

    {{ $zineOdt := printf "%s%s" .Slug ".odt" }}
    {{ with .Resources.Get $zineOdt }}
        <p><a href="{{ .RelPermalink }}">Zine em ODT</a>, formato aberto para edição com LibreOffice ou Microsoft Word.</p>
    {{ else }}
        {{ warnf "Error on page %q, missing .odt file" .Title }}
    {{ end }}

    {{ $zinePdf := printf "%s%s" .Slug ".pdf" }}
    {{ with .Resources.Get $zinePdf }}
        <p><a href="{{ .RelPermalink }}">Zine em PDF</a>, pronto para ler online.</p>
    {{ else }}
        {{ warnf "Error on page %q, missing .pdf file" .Title }}
    {{ end }}

    {{ $zinePdf4Pages := printf "%s%s%s" .Slug "-4-paginas" ".pdf" }}
    {{ with .Resources.Get $zinePdf4Pages }}
        <p><a href="{{ .RelPermalink }}">Zine em PDF com 4 páginas em uma</a>, pronto pra imprimir, dobrar, grampear e distribuir.</p>
    {{ else }}
        {{ warnf "Error on page %q, missing -4-paginas.pdf file" .Title }}
    {{ end }}

</div>

{{ end }}